name: Publish Node.js Package

on:
  release:
    types: [published]

jobs:
  build-root:
    strategy:
      matrix:
        node-version: [22, 24]
        os: [ubuntu-latest, macos-latest]
    uses: yoriiis/actions/.github/workflows/test-and-build.yml@main
    with:
      node-version: ${{ matrix.node-version }}
      os: ${{ matrix.os }}
      upload-artifact: true
      artifact-name: build-artifact-${{ matrix.os }}-${{ matrix.node-version }}

  build-example:
    needs: build-root
    strategy:
      matrix:
        node-version: [22, 24]
        os: [ubuntu-latest, macos-latest]
    uses: yoriiis/actions/.github/workflows/test-and-build.yml@main
    with:
      node-version: ${{ matrix.node-version }}
      os: ${{ matrix.os }}
      working-directory: ./example
      download-artifact: true
      artifact-name: build-artifact-${{ matrix.os }}-${{ matrix.node-version }}
      command-install: npm ci --install-links

  lint:
    uses: yoriiis/chunks-webpack-plugin/.github/workflows/lint.yml@main

  npm:
    needs: [build-root, build-example, lint]
    uses: yoriiis/actions/.github/workflows/npm-publish.yml@main
